# On Counterexamples for dGL Theorems

Sometimes, the dGL formula you are trying to prove is not valid and needs to be repaired. Counterexamples establish when and why a formula is not valid. However, separating genuine counterexamples showing the original formula is not valid from spurious counterexamples showing that a subgoal arising from bad proof directions is not valid can be subtle. This section provides guidance on how to interpret counterexamples arising during proof attempts.

TODO.