You are trying to assign the preconditions of a differential game logic game.
You have been proposing preconditions using backwards reasoning where you first proposed something for subgames closest to the end and then worked backwards recursively.
Now you have reached a cross-roads and must choose a next action.
You are given the original program, a log of what you were doing last, and the options of actions available to you.
Reply with a brief explanation, followed by a newline, followed by a code block containing only the word for the action.

## Background information

Here is some information about dGL.

{% include 'DGlSyntax.jinja' %}

{% include 'LabelSyntax.jinja' %}

A *precondition* for a given game is a logical formula that, when it is true before the game starts, there exists a strategy for Angel to ensure that the *postcondition* holds after the game ends, regardless of how Demon plays.

## Input

1. The current subgame for which you were trying to propose preconditions.
2. overall_game: The overall game in which the current subgame appears.
3. Analysis of the game and the control strategy Angel is trying to execute that the chosen preconditions should support.
This is followed by a log of previous attempts at identifying preconditions for subgames and verifying whether they hold by stepping through the game and checking if the preconditions compose to ensure the postcondition is satisfied. Examine this history to figure out what just happened. Did you propose a bad ODE precondition? Did the precondition you proposed end up not being compatible with an earlier chosen loop invariant? Did you come up with a good invariant but you think it can be improved upon?
4. The options you can choose for your next action.

## Possible Actions

The preconditions that you proposed most recently didn't check out.
Either it was not provably a precondition of the current subgame, or if part of a loop, your provided preconditions led to a precondition for the loop body that was not implied by the loop invariant.

The error could lie in the most recent condition, or earlier in the process where you may have made a choice previously that backed you into a corner for this subgame, or maybe the condition is correct but too difficult for the automatic theorem prover to check. Now you must decide till what point to backtrack, or whether to try harder to prove the current subgame result using a tactic with KeYmaera X.

You are given the original program, in which some points in the game are labeled as subgame_id.
- `backtrack-to:id`: Backtrack to the subgame with the given id and propose a new precondition there. If you choose this option, in your reply, write `backtrack-to:id` where id is the id of the subgame you want to backtrack to. When backtracking, you can even choose the current subgame to retry. Loops are considered to occur "later" than their body, so if you backtrack to a subgame inside a loop, you won't be asked for a new loop invariant and the existing invariant will be used.
- `try-proof`: Try to prove the current subgame using KeYmaera X with the precondition you proposed most recently. If you aren't sure why the most recent precondition was bad, this could be a good option because the manual proof attempt can give you feedback on what's wrong with the precondition.

## Output

Write a few lines of explanation, followed by a newline, and then a code block containing the action you choose. For example, a valid code block is:

```
try-proof
```

I will now show you zero of more examples of how to respond, followed by the current case.
