The current subgame is:
{{ query.current_game }}

The overall game with labels is:
{{ query.overall_game }}

Here is an analysis of the game followed by logs of precondition computation and checking so far:
{{ query.history }}

The options you can choose are:
{{ query.backtrack_to }}