- Carefully consider the differential equation. There can be coupling between variables that affects your reasoning. 
- Based on the dynamics, you may some times need to come up with upper/lower bounds of quantities and use that to derive sound preconditions. It's best to use simplistic, polynomial bounds so that they verify more easily.
